<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Spinner de carga -->
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <!-- Lista de Pokémon -->
  <ion-list *ngIf="pokemonList && !isLoading">
    <ion-item *ngFor="let pokemon of pokemonList.results" [routerLink]="['/pokemon-details', pokemon.name]">
      <ion-label>
        {{ pokemon.name | titlecase }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!--
ion-spinner: Muestra un spinner mientras se cargan los datos.

ion-list e ion-item: Muestran la lista de Pokémon.

routerLink: Navega a la página de detalles del Pokémon.
-->                                                                                 